body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    padding-top: 80px; 
}

header {
    background-color: #343a40;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    padding: 0 20px;
}

.navbar-brand {
    color: #ff8c00;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    margin-left: 2%;
}

.navbar-brand:hover {
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-nav .nav-link {
    color: #160404;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 5px;
}

.navbar-nav .nav-link:hover {
    color: #ff8c00;
}

section {
    padding: 40px 0;
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: #343a40;
    margin-bottom: 20px;
    font-weight: bold;
}

.carousel-item img {
    width: 90%;
    height: 500px;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #ff8c00;
}

.carousel-inner {
    border-radius: 8px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
    
    .navbar-nav .nav-link {
        margin-left: 0;
        margin-top: 10px;
    }

    h2 {
        font-size: 1.6rem;
    }

    .navbar-brand {
        font-size: 1.6rem;
    }

    .project-card {
        height: 200px;
    }
    
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #343a40;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-size: 2rem;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

h4:hover {
    color: #ff8c00;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.project-title {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: background-size 0.3s ease;
}

.project-title:hover {
    background-size: 120%;
}

.project-card {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-link {
    background-color: #eae9e9; 
    border-radius: 5px;
    text-decoration: none;
    color: rgb(19, 14, 14);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.project-card h4 {
    margin: 0;
}


.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.social-links a {
    color: #010100;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #ff8c00;
}

.social-links i {
    font-size: 2.5rem; 
}
