@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



:root {
  --background: #7a7a7a;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);

}
